body{
    padding-top: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color:#edf0f5;
}
.banner-k{
	background-color: #3b5998;
	border background-color:#ac2925;
	font-size:20px;
	font-color:#FFFFFF;
	padding-top:10px;
	font-weight: 600;
	padding-left:170px;
}




